# Server related ignores
.obsidian
rpi/server/node_modules
rpi/server/.vscode
rpi/server/node_modules

# Python repl
rpi/server/programs/python-repl/.interp.py
rpi/server/programs/python-repl/__pycache__

# Ignoring cached stuff
*/__pycache__
*.pyc


.log